@page "/test"

@using NuGetPackageManagerApp.AppCode
@using NuGetPackageManagerWebApp.AppCode.CustomNuGetV2;
@using System.ComponentModel.DataAnnotations;

@inject NuGetFileServiceV2 _nugetFileService;

<h3>Test</h3>





@code {

    
    
}
